$body-bg: $light;
$body-color: $dark;
$primary: $blue;
$list-group-bg: transparentize($body-color, .95);
$list-group-border-color: transparentize($body-color, .90);

$svg-bg: $light-gray;
$svg-selected: $cyan;
$svg-operator: #174B8D;
