@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "operator";

/***
 * Overriding bootstrap rules
 */

body {
  font-family: $font-text;
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

.card-title, .modal-title, .card-subtitle, .panel-title, .headertitle {
  font-family: $font-text;
}

/***
 * Defining global rules
 */

.sl-operator-name {
  font-family: $font-mono;
}

#sl-operators-col {
  height: calc(100vh);
  padding: 15px;
  color: $body-bg;
  background-color: $dark-tone;
}

.CodeMirror {
  height: calc(100vh - 50px);
}
