@import "variables";

svg {
  background-color: $svg-bg;

  text {
    /* override browser default */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &::selection {
      background: none;
    }

    fill: $svg-text;
    font-size: 1.4em;
    font-weight: lighter;

    &.selected {
      fill: $svg-selected;
    }
  }

  rect, circle, line, path {
    stroke: transparent;
    stroke-width: 2px;
    stroke-linecap: butt;
    &.selected {
      stroke: $svg-selected;
    }
  }

  .sl-svg-conn {
    fill: none;
    stroke: $svg-conn;
    stroke-width: 6px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .sl-svg-conn-click-overlay {
    fill: none;
    stroke: transparent;
    stroke-width: 14px;
  }

  .sl-svg-conn-highlight {
    fill: none;
    stroke: none;
    stroke-width: 6px;
    stroke-linejoin: round;
    stroke-linecap: round;
    &.selected {
      stroke: $svg-selected;
    }
  }

  .sl-svg-op {
    //rx: $op-border-radius;
    //ry: $op-border-radius;
    stroke: $svg-op-stroke;
    stroke-width: 14px;
    stroke-opacity: .55;
    fill-opacity: .9;

    &.selected {
      stroke: $svg-selected;
    }
    &.sl-svg-op-surr {
      fill: $svg-op-fill-surr;
      fill-opacity: .85;
    }
    &.sl-svg-op-ins {
      &.sl-svg-op-type {
        &.elementary {
          fill: $svg-op-fill-elem
        }
        &.library {
          fill: $svg-op-fill-lib;
        }
        &.local {
          fill: $svg-op-fill-loc;
        }
      }
    }
  }

  .sl-svg-op-resize {
    //r: 8px;
    fill: $medium;
    fill-opacity: .25;
    -webkit-transition: r 200ms ease-in-out;
    -moz-transition: r 200ms ease-in-out;
    transition: r 200ms ease-in-out;
    &:hover {
      //r: 12px;
      fill-opacity: .75;
      cursor: nwse-resize;
    }
  }

  .sl-svg-port {
    stroke-width: 8px;
    stroke-opacity: .55;

    &.primitive {
      fill: #7156FB;
    }
    &.number {
      fill: #40A1DE;
    }
    &.string {
      fill: #46B5E8;
    }
    &.boolean {
      fill: #3CCC90;
    }
    &.binary {
      fill: #FBEB56;
    }
    &.trigger {
      fill: #9ab;
    }
    &.generic {
      fill: #9e008e;
    }
  }
  .sl-svg-port-label {
  }
}

