@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Roboto+Condensed');

$font-mono: 'Share Tech Mono', monospace;
$font-title: 'Roboto Condensed', sans-serif;
$font-text: 'Roboto Condensed', sans-serif;

$font-size-base: 0.95rem;
$font-weight-normal: medium;
$spacer: 0.5rem;

$op-border-radius: 20px;

//$blue: #123c94;
$blue: #174B8D;
$cyan: #268aac;
$orange: #F57D23;
$yellow: #FFD559;
$purple: #6050bc;
$white: #fffffe;
$light: #eeeeec;
$light-tone: #d4edff;
$medium: #586e7b;
$dark-tone: #1d3648;
$dark: #142a37;
$light-gray: #ccccca;
$gray: #888886;
$dark-gray: #333331;


@import "light";
