<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div id="sl-navbar-op-viewed">
    <a class="sl-navbar-go-back" routerLink="/"> <i class="fas fa-arrow-left"></i></a>
    <div class="navbar-text sl-operator-name">{{operatorName}}</div>
  </div>
  <div class="btn-group btn-group-sm ml-3">
    <button class="btn btn-outline-light" (click)="save()"><i class="fas fa-save"></i></button>
    <button class="btn btn-outline-light" (click)="download()"><i class="fas fa-download"></i></button>
  </div>
  <div class="btn-group btn-group-sm btn-group-toggle ml-3">
    <button type="button" class="btn btn-outline-light" ngbButton (click)="setUIMode('visual')"
            [ngClass]="{'active': isUIModeVisual()}"><i class="fas fa-project-diagram"></i></button>
    <button type="button" class="btn btn-outline-light" ngbButton (click)="setUIMode('yaml')"
            [ngClass]="{'active': isUIModeYAML()}"><i class="fas fa-code"></i></button>
  </div>
  <div class="btn-group btn-group-sm btn-group-toggle ml-3">
    <button type="button" class="btn btn-outline-light" (click)="startDebugging()"
            [ngClass]="{'active': running}"><i class="fas fa-play"></i></button>
    <button type="button" class="btn btn-outline-light" (click)="stopOperator()"
            [ngClass]="{'active': !running}"><i class="fas fa-stop"></i></button>
  </div>
  <div class="pl-3 navbar-text" [@operatorSaved]="isOperatorSaved">
    Operator saved...
  </div>
</nav>

<div class="container-fluid">
  <!-- ui-mode yaml -->
  <div *ngIf="isUIModeYAML()">
    <codemirror [ngModel]="yamlRepr"
                [config]="editorConfig"
                (ngModelChange)="updateYaml($event)"
                (blur)="storeYaml()">
    </codemirror>
  </div>
  <!-- ui-mode visual -->
  <div id="sl-visual-ui" *ngIf="isUIModeVisual()">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 sl-col" id="sl-operators-col">
        <app-operator-list [buttonIcon]="'fa-plus'" [operatorList]="getOperatorList()"
                           (operatorSelected)="addInstance($event)"></app-operator-list>
      </div>
      <div class="sl-ui-mainbar col">
        <div id="sl-svg-container" [ngClass]="{'large': !debugState}">

          <svg (mouseenter)="canvasFocus=true" (mouseleave)="canvasFocus=false"
               [attr.width]="50000*scale" [attr.height]="50000*scale"
               viewBox="0 0 50000 50000"
               xmlns:svg="http://www.w3.org/2000/svg"
               (mousedown)="mouse.start($event)"
               (mouseup)="mouse.stop($event)"
               (mousemove)="mouse.track($event)">

            <svg:g *ngIf="operator" app-instance [instance]="operator" aspect="surrounding">
            </svg:g>
          </svg>

          <div id="sl-message-box" *ngIf="userMessage"><i class="fas fa-info-circle"></i> {{ userMessage }}</div>

        </div>
        <div id="sl-main-bottom" *ngIf="!!debugState">
          <div>
            <div *ngIf="debugState === 'debugging'">
              <h4><i class="fas fa-arrow-up"></i> Input</h4>
              <div *ngIf="!httpInput()">
                <app-type-value-form [(typeValue)]="inputValue" [typeDef]="debuggingInPort"></app-type-value-form>
                <div>
                  <button [disabled]="!running" (click)="sendInputValue(inputValue)">Send</button>
                </div>
                <h6>Preview object</h6>
                <div class="preview">
                  <app-preview-object [object]="inputValue"></app-preview-object>
                </div>
              </div>
              <p *ngIf="httpInput()">
                This operator is directly accessible via HTTP (see debug panel).
              </p>
            </div>
            <div *ngIf="debugState === 'specifying'">
              <h4><i class="fas fa-plug"></i> Generics</h4>
              <div class="sl-form-box" *ngFor="let genName of genericNames(operator)">
                <h6>{{ genName }}</h6>
                <app-type-def-form *ngIf="debuggingGens[genName]" [(typeDef)]="debuggingGens[genName]"
                                   (typeDefChange)="refreshDebugVariables()">
                </app-type-def-form>
                <button *ngIf="!debuggingGens[genName]" (click)="specifyGeneric(debuggingGens, genName)">
                  Specify
                </button>
              </div>
            </div>
          </div>
          <div>
            <div *ngIf="debugState === 'debugging'">
              <h4><i class="fas fa-arrow-down"></i> Output</h4>
              <div *ngIf="!httpOutput()">
                <div class="output-options">
                  <button *ngIf="debuggingReponses.length > 0" (click)="clearOutput()"><i class="fa fa-broom"></i> clear</button>
                </div>
                <div *ngFor="let resp of debuggingReponses" class="preview">
                  <app-preview-object [object]="resp"></app-preview-object>
                </div>
              </div>
              <p *ngIf="httpOutput()">
                This operator is directly accessible via HTTP (see debug panel).
              </p>
            </div>
            <div *ngIf="debugState === 'specifying'">
              <h4><i class="fas fa-stream"></i> Properties</h4>
              <div class="sl-form-box" *ngFor="let propName of getPropertyNames()">
                <h6>{{propName}}</h6>
                <app-type-value-form *ngIf="debuggingPropDefs[propName] !== undefined"
                                     [typeDef]="debuggingPropDefs[propName]"
                                     [(typeValue)]="debuggingProps[propName]">
                </app-type-value-form>
                <button *ngIf="debuggingPropDefs[propName] === undefined"
                        (click)="specifyProperty(debuggingProps, propName, debuggingPropDefs[propName])">Specify
                </button>
              </div>
            </div>
          </div>
          <div>
            <div *ngIf="debugState === 'debugging'">
              <h4><i class="fas fa-bug"></i> Debugging</h4>
              <a class="close-pane" (click)="closeDebugPanel()"><i class="far fa-times-circle"></i></a>
              <p *ngFor="let msg of debuggingLog">{{ msg }}</p>
            </div>
            <div *ngIf="debugState === 'specifying'">
              <button (click)="runOperator()">start operator</button>
            </div>
          </div>
        </div>
      </div>
      <div id="sl-instance-sidebar" class="d-none d-md-block sl-ui-sidebar col-2" *ngIf="!debugState">
        <app-editor-sidebar [definition]="operatorDef" [surrounding]="operator" (definitionChange)="sidebarDefinitionChange()"></app-editor-sidebar>
      </div>
    </div>
  </div>
</div>
