<div id="sl-debug-panel">
  <div>
    <div *ngIf="debugState === 'debugging' || debugState === 'stopped'">
      <h4><i class="fas fa-arrow-up"></i> Input</h4>
      <div *ngIf="!httpInput()">
        <app-type-value-form [(typeValue)]="inputValue" (typeValueChange)="inputValueChanged()" [typeDef]="debuggingInPort"></app-type-value-form>
        <div>
          <button [disabled]="debugState !== 'debugging'" (click)="sendInputValue(inputValue)">Send</button>
        </div>
        <h6>Preview object</h6>
        <div class="preview">
          <app-preview-object [object]="inputValue"></app-preview-object>
        </div>
      </div>
      <p *ngIf="httpInput()">
        This operator is directly accessible via HTTP (see debug panel).
      </p>
    </div>
    <div *ngIf="debugState === 'specifying'">
      <h4><i class="fas fa-plug"></i> Generics</h4>
      <div class="sl-form-box" *ngFor="let genName of genericNames(operator)">
        <h6>{{ genName }}</h6>
        <app-type-def-form *ngIf="debuggingGens[genName]" [(typeDef)]="debuggingGens[genName]"
                           (typeDefChange)="refreshDebugVariables()">
        </app-type-def-form>
        <button *ngIf="!debuggingGens[genName]" (click)="specifyGeneric(debuggingGens, genName)">
          Specify
        </button>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="debugState === 'debugging' || debugState === 'stopped'">
      <h4><i class="fas fa-arrow-down"></i> Output</h4>
      <div *ngIf="!httpOutput()">
        <div *ngFor="let resp of debuggingReponses" class="preview">
          <app-preview-object [object]="resp"></app-preview-object>
        </div>
      </div>
      <p *ngIf="httpOutput()">
        This operator is directly accessible via HTTP (see debug panel).
      </p>
    </div>
    <div *ngIf="debugState === 'specifying'">
      <h4><i class="fas fa-stream"></i> Properties</h4>
      <div class="sl-form-box" *ngFor="let propName of getPropertyNames()">
        <h6>{{propName}}</h6>
        <app-type-value-form *ngIf="debuggingPropDefs[propName] !== undefined"
                             [typeDef]="debuggingPropDefs[propName]"
                             [(typeValue)]="debuggingProps[propName]">
        </app-type-value-form>
        <button *ngIf="debuggingPropDefs[propName] === undefined"
                (click)="specifyProperty(debuggingProps, propName, debuggingPropDefs[propName])">Specify
        </button>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="debugState === 'debugging' || debugState === 'stopped'">
      <h4><i class="fas fa-bug"></i> Debugging</h4>
      <a class="close-pane" (click)="closeDebugPanel()"><i class="far fa-times-circle"></i></a>
      <p *ngFor="let msg of debuggingLog">{{ msg }}</p>
    </div>
    <div *ngIf="debugState === 'specifying'">
      <button (click)="runOperator()">start operator</button>
    </div>
  </div>
</div>
