@import "../../styles/variables.scss";

#sl-svg-container {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      -65deg,
      transparentize($body-color, .95),
      transparentize($body-color, .95) 5px,
      transparentize($body-bg, .95) 5px,
      transparentize($body-bg, .95) 10px
  );
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  height: 36px;

  #sl-navbar-op-viewed {
    background-color: $orange;
    border-bottom-right-radius: $op-border-radius;
    padding-left: 0.5em;
    * {
      color: $white;
      display: inline-block;
      font-size: 1.2em;

    }

    .sl-operator-name {
      display: inline-block;
      padding: 0 1em 0 .75em;
      font-size: 1.6em;
      min-width: 265px;
      text-align: center;
    }
  }
}

.row {
  width: 100%;
}

#sl-visual-ui {
  display: inline-block;
  width: 100vw;
  height: calc(100vh - 36px);
}

.sl-ui-sidebar {
  background-color: $pane-border-color;
  padding: $spacer;
  height: calc(100vh - 36px);
  .sl-ui-scrollable {
    padding: $spacer;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    .sl-operator-name {
      margin-bottom: 8px;
    }
  }
}

.sl-ui-mainbar {
  overflow: hidden;
  padding: 0;

  #sl-svg-container {
    overflow: hidden;
    height: calc(100vh - 36px - 45vh);

    &.large {
      height: initial;
    }

    #sl-message-box {
      position: absolute;
      width: 100%;
      padding: 5px;
      top: 0;
      text-align: center;
      border: 3px solid $orange;
      background-color: $body-bg;
    }
  }

  #sl-main-bottom {
    height: 45vh;
    background: $pane-border-color;
    overflow: hidden;
    padding: 8px 0 8px 0;
    display: flex;

    .preview-object {
      font-size: 0.7em;
      color: $body-color;
    }

    .preview {
      border: 1px solid $gray;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: white;
    }
  }
}

#sl-instance-sidebar {
  .sl-ui-scrollable {
    background-color: $body-bg;
    height: calc(50% - 0.25rem);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $spacer;
    padding: 5px;
  }
}

.sl-form-box {
  padding-top: 8px;
  padding-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
  label {
    margin: 0
  }
}
