@import "../../styles/variables.scss";

#sl-main-box {
  height: 100vh;
  width: 100%;
  border: 2px solid $orange;
  box-sizing: border-box;

  > div {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }

  #sl-main-content {
    width: 100%;

    > .row {
      margin: 0;
    }

    #sl-main-row {
      height: 100%;
      width: 100%;

      .input-group {
        margin-top: 10px;
      }

      #sl-operator-list {
        height: calc(100% - 94px);
      }

      .sl-col {
        height: 100%;
      }

      #sl-info-col {
        padding: 0;
        color: $dark-gray;
        background-color: $light;

        #sl-guide {
          height: 100%;
          overflow-y: auto;
          padding: 40px 45px;
          max-width: 70ch;

          h1 {
            margin-bottom: 20px;
          }

          h2 {
            font-size: 1.2rem;
            margin-top: 30px;
            margin-bottom: 10px;
          }

          .sl-guide-intro {
            font-size: 1.05rem;
          }

          .btn {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
