<div>
  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Working directory</span>
    </div>
    <input type="text" class="form-control" name="workingDir" id="workingDir" [(ngModel)]="workingDir">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="refreshOperators()">Refresh operators</button>
    </div>
  </div>
  <div>
    <h2>Local operators</h2>
    <ul>
      <li *ngFor="let op of getLocals()"><span [ngClass]="{'sl-saved': op.isSaved(), 'sl-unsaved': !op.isSaved()}">{{ op.getName() }}</span>
        <button (click)="openOperator(op)">Open</button>
      </li>
      <li><input title="Operator name" [(ngModel)]="newOperatorName"/>
        <button (click)="newOperator()">New</button>
      </li>
    </ul>
  </div>

  <div>
    <h2>Library operators</h2>
    <ul>
      <li *ngFor="let op of getLibraries()">{{ op.getName() }}</li>
    </ul>
  </div>

  <div>
    <h2>Elementary operators</h2>
    <ul>
      <li *ngFor="let op of getElementaries()">{{ op.getName() }}</li>
    </ul>
  </div>
</div>
