<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Working directory</span>
        </div>
        <input type="text" class="form-control" name="workingDir" id="workingDir" [(ngModel)]="workingDir">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="refreshOperators()"><i class="fas fa-sync"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="sl-operator-list">
        <h2>Local operators</h2>
        <div class="input-group mb-3 mt-3">
          <input placeholder="New operator name" type="text" class="form-control" [(ngModel)]="newOperatorName"/>
          <div class="input-group-append">
            <button class="btn" (click)="newOperator()"><i class="fas fa-plus-square"></i></button>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center"
              [ngClass]="{'sl-saved': op.isSaved(), 'sl-unsaved': !op.isSaved()}"
              *ngFor="let op of getLocals()">
            <span>
                <button class="btn btn-link" (click)="openOperator(op)"><i class="fas fa-folder-open"></i></button>
                <span class="sl-operator-name">{{ op.getName() }}</span>
            </span>
            <span *ngIf="!op.isSaved()" class="badge badge-info badge-pill"><i class="fas fa-save"></i></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col"></div>
    <div class="col-2">
      <div class="sl-operator-list">
        <h1>Library operators</h1>
        <ul class="sl-operator-list list-group list-group-flush">
          <li class="list-group-item" *ngFor="let op of getLibraries()"><span
            class="sl-operator-name">{{ op.getName() }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <div class="sl-operator-list">
        <h1>Elementary operators</h1>
        <ul class="sl-operator-list list-group list-group-flush">
          <li class="list-group-item" *ngFor="let op of getElementaries()"><span class="sl-operator-name">{{ op.getName() }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
