<svg:g xmlns:svg="http://www.w3.org/2000/svg" [attr.transform]="transform(instance)">
  <svg:g *ngIf="aspect === 'operator'">
    <svg:rect *ngIf="form() === 'rect'"
              x="0" y="0" rx="20" ry="20"
              class="sl-svg-op sl-svg-op-ins"
              [ngClass]="getCSSClass()"
              [attr.width]="instance.getWidth()" [attr.height]="instance.getHeight()"
              paint-order="stroke fill"
              (mouseover)="visual.hoverInstance(instance)"
              (mouseout)="visual.hoverInstance(null)"
              (mousedown)="visual.selectInstance(instance)"
    ></svg:rect>
    <svg:circle *ngIf="form() === 'circle'"
                rx="20" ry="20"
                class="sl-svg-op sl-svg-op-ins"
                [ngClass]="getCSSClass()"
                [attr.cx]="radius()" [attr.cy]="radius()" [attr.r]="radius()"
                paint-order="stroke fill"
                (mouseover)="visual.hoverInstance(instance)"
                (mouseout)="visual.hoverInstance(null)"
                (mousedown)="visual.selectInstance(instance)"
    ></svg:circle>
  </svg:g>

  <svg:g *ngIf="aspect === 'port'">
    <svg:g *ngFor="let dlg of instance.getDelegates()" [attr.transform]="transform(dlg)">
      <svg:g [attr.transform]="transform(dlg.getIn())" app-port [port]="dlg.getIn()"></svg:g>
      <svg:g [attr.transform]="transform(dlg.getOut())" app-port [port]="dlg.getOut()"></svg:g>
    </svg:g>
    <svg:g [attr.transform]="transform(instance.getMainIn())" app-port [port]="instance.getMainIn()"></svg:g>
    <svg:g [attr.transform]="transform(instance.getMainOut())" app-port [port]="instance.getMainOut()"></svg:g>
  </svg:g>
</svg:g>
