@import "../../styles/variables.scss";

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
  background: none;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  .sl-operator-name {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.6em;
  }
}

