@import "../../styles/variables.scss";

#sl-svg-container {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      -65deg,
      transparentize($body-color, .95),
      transparentize($body-color, .95) 5px,
      transparentize($body-bg, .95) 5px,
      transparentize($body-bg, .95) 10px
  );
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 36px;
  .sl-operator-name {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.6em;
  }
}

.row {
  width: 100%;
}

#sl-visual-ui {
  display: inline-block;
  width: 100vw;
  height: calc(100vh - 36px);
}

.sl-operator-list {
  ul {
    overflow-y: visible;
  }
}

.sl-ui-sidebar {
  background-color: $pane-border-color;
  padding: $spacer;
  height: calc(100vh - 36px);
  .sl-ui-scrollable {
    padding: $spacer;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    .sl-operator-name {
      margin-bottom: 8px;
    }
  }
}

.sl-ui-mainbar {
  overflow: hidden;
  padding: 0;

  #sl-svg-container {
    overflow: hidden;
    height: calc(100vh - 36px - 300px);

    &.large {
      height: initial;
    }
  }

  #sl-main-bottom {
    height: 300px;
    background: $pane-border-color;
    overflow: hidden;
    padding: 8px 0 8px 0;
    display: flex;

    .preview-object, .response {
      font-size: 0.7em;
      color: $body-color;
    }

    h6 {
      margin-top: 10px;
    }

    > div {
      height: 100%;
      width: 100%;
      background: $body-bg;
      overflow: auto;
      padding: 5px;
      position: relative;

      .close-pane {
        font-size: 16px;
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }
    }

    > div:not(:first-child) {
      margin-left: 8px;
    }
  }
}

#sl-operator-sidebar {
  .sl-ui-form-box {
    height: 34px;
    background-color: $body-bg;
    margin-bottom: $spacer;
  }
  .sl-ui-scrollable {
    background-color: $body-bg;
    height: calc(100% - 34px - 0.5rem);
    border-top: $spacer solid transparent;
    box-sizing: border-box;
  }
}

#sl-instance-sidebar {
  .sl-ui-scrollable {
    background-color: $body-bg;
    height: calc(50% - 0.25rem);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $spacer;
    padding: 5px;
  }
}

.sl-form-box {
  padding-top: 8px;
  padding-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
  label {
    margin: 0
  }
}
