<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-arrow-left"></i></a>
  <div class="navbar-text sl-operator-name">{{operatorName}}</div>
  <div class="btn-group btn-group-sm ml-3">
    <button class="btn btn-outline-secondary"><i class="fas fa-pen-square"></i></button>
    <button class="btn btn-outline-secondary" (click)="save()"><i class="fas fa-save"></i></button>
  </div>
  <div class="btn-group btn-group-sm btn-group-toggle ml-3">
    <button type="button" class="btn-outline-secondary" ngbButton (click)="setUIMode('visual')"
            [ngClass]="{'active': isUIModeVisual()}"><i class="fas fa-project-diagram"></i></button>
    <button type="button" class="btn-outline-secondary" ngbButton (click)="setUIMode('yaml')"
            [ngClass]="{'active': isUIModeYAML()}"><i class="fas fa-code"></i></button>
  </div>
</nav>

<div class="container-fluid">
  <!-- ui-mode yaml -->
  <div *ngIf="isUIModeYAML()">
    <codemirror [ngModel]="yamlRepr"
                [config]="editorConfig"
                (ngModelChange)="updateYaml($event)"
                (blur)="storeYaml()">
    </codemirror>
  </div>
  <!-- ui-mode visuals -->
  <div id="sl-visual-ui" *ngIf="isUIModeVisual()">
    <div class="row">
      <div id="sl-operator-sidebar" class="sl-ui-sidebar col-2">
        <input placeholder="Search for operators" type="text" class="form-control" [(ngModel)]="filterString"/>
        <div class="sl-ui-scrollable">

          <div class="sl-operator-list">
            <h3>Local operators</h3>
            <ul class="list-group">
              <li class="list-group-item"
                  *ngFor="let op of getLocals(filterString)">
                <button class="btn btn-link" (click)="addInstance(op)"><i class="fas fa-plus-square"></i></button>
                <span class="sl-operator-name">{{ op.getName() }}</span>
              </li>
            </ul>
          </div>

          <div class="sl-operator-list">
            <h3>Global operators</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"
                  *ngFor="let op of getGlobals(filterString)">
                <button class="btn btn-link" (click)="addInstance(op)"><i class="fas fa-plus-square"></i></button>
                <span class="sl-operator-name">{{ op.getName() }}</span>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="sl-ui-mainbar col">
        <div id="sl-svg-container">

          <svg [attr.width]="50000*scale" [attr.height]="50000*scale"
               viewBox="0 0 50000 50000"
               xmlns:svg="http://www.w3.org/2000/svg"
               (mousedown)="mouseTracker.start($event)"
               (mouseup)="mouseTracker.stop($event)"
               (mousemove)="mouseTracker.track($event)">

            <svg:g *ngIf="operator" [attr.transform]="transform(operator)">
              <!-- Surrounding operator -->
              <svg:rect x="0" y="0" [attr.width]="operator.getWidth()" [attr.height]="operator.getHeight()"
                        class="sl-svg-op sl-svg-op-surr"
                        [ngClass]="{selected: isSelected(operator)}"
                        paint-order="stroke fill"
                        (mousedown)="selectInstance(operator)">
              </svg:rect>
              <!-- Surrounding operator resizer -->
              <svg:circle [attr.cx]="operator.getWidth() - 20" [attr.cy]="operator.getHeight() - 20"
                          class="sl-svg-op-resize"
                          (mousedown)="mouseTracker.setResizing()">
              </svg:circle>

              <!-- Delegates -->
              <svg:g *ngFor="let dlg of operator.getDelegates()" [attr.transform]="transform(dlg)">
                <svg:g [attr.transform]="transform(dlg.getIn())" app-port [port]="dlg.getIn()"
                       (select)="selectPort($event)"
                       [selectedEntity]="selectedEntity"></svg:g>
                <svg:g [attr.transform]="transform(dlg.getOut())" app-port [port]="dlg.getOut()"
                       (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
              </svg:g>

              <!-- Services -->
              <svg:g>
                <svg:g [attr.transform]="transform(operator.getMainIn())" app-port [port]="operator.getMainIn()"
                       (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
                <svg:g [attr.transform]="transform(operator.getMainOut())" app-port [port]="operator.getMainOut()"
                       (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
              </svg:g>

              <svg:g app-instance *ngFor="let ins of visualInstances()"
                     [instance]="ins" [selectedEntity]="selectedEntity"
                     (selectPort)="selectPort($event)" (selectInstance)="selectInstance($event)">
              </svg:g>
            </svg:g>

            <!-- Visible Connections -->
            <svg:line *ngFor="let conn of visualConnections()"
                      class="sl-svg-conn"
                      [ngClass]="{selected: isSelected(conn)}"
                      [attr.x1]="conn.getSource().getPortPosX()"
                      [attr.y1]="conn.getSource().getPortPosY()"
                      [attr.x2]="conn.getDestination().getPortPosX()"
                      [attr.y2]="conn.getDestination().getPortPosY()"></svg:line>

            <!-- Clickable Invisible Connections -->
            <svg:line *ngFor="let conn of visualConnections()"
                      class="sl-svg-conn-click-overlay"
                      (click)="selectConnection(conn)"
                      [attr.x1]="conn.getSource().getPortPosX()"
                      [attr.y1]="conn.getSource().getPortPosY()"
                      [attr.x2]="conn.getDestination().getPortPosX()"
                      [attr.y2]="conn.getDestination().getPortPosY()"></svg:line>

            <!-- Text/Labels -->
            <svg:g *ngFor="let port of getPorts()" (click)="selectPort(port)" [attr.transform]="translate(port)">
              <!--<circle [attr.cx]="getPortLabelX(port)-1" [attr.cy]="getPortLabelY(port)-1" r="2"/>-->
              <svg:text [attr.text-anchor]="getPortLabelAnchor(port)" alignment-baseline="middle"
                        [attr.transform]="transformLabel(port)"
                        [attr.x]="getPortLabelX(port)" [attr.y]="getPortLabelY(port)"
                        class="sl-svg-port-label"
                        [ngClass]="{selected: isSelected(port)}">
                {{port.getName()}}
              </svg:text>
            </svg:g>

          </svg>
        </div>
      </div>
      <div id="sl-instance-sidebar" class="sl-ui-sidebar col-2">
        <div class="sl-ui-scrollable">
          <h4>
            IN
          </h4>
          <div style="display: inline-block" *ngIf="mainSrvPort">
            <app-type-def-form [(typeDef)]="mainSrvPort.in" (typeDefChange)="refresh()"></app-type-def-form>
          </div>
          <h4>
            OUT
          </h4>
          <div style="display: inline-block" *ngIf="mainSrvPort">
            <app-type-def-form [(typeDef)]="mainSrvPort.out" (typeDefChange)="refresh()"></app-type-def-form>
          </div>
          <h4>Properties</h4>
          <div *ngFor="let propName of getPropertyNames()">
            <h5>
              <button (click)="removePropertyDef(propName)"><i class="fa fa-trash"></i></button>
              {{propName}}
            </h5>
            <app-type-def-form [(typeDef)]="propertyDefs[propName]" (typeDefChange)="refresh()"></app-type-def-form>
          </div>
          <h5><label for="newPropName">New property</label></h5>
          <input id="newPropName" [(ngModel)]="newPropName">
          <button (click)="addPropertyDef(newPropName); newPropName = '';">add</button>
        </div>

        <div class="sl-ui-scrollable">
          <div *ngIf="!isInstanceSelected()">
            (no operator instance selected)
          </div>
          <div *ngIf="isInstanceSelected()">
            <h5>Operator</h5>
            <p class="sl-operator-name">{{ getSelectedInstanceFQName() }}</p>
            <h5><label for="instanceName">Instance</label></h5>
            <p class="sl-operator-name">{{ getSelectedInstanceName() }}</p>
            <input id="instanceName" [(ngModel)]="newInstanceName"/>
            <button (click)="renameInstance(selectedEntity.entity, newInstanceName); selectedEntity.entity = null">
              rename
            </button>
            <h5>Generics ({{ genericNames(selectedEntity.entity).length }})</h5>
            <div *ngFor="let genName of genericNames(selectedEntity.entity)">{{ genName }}
              <app-type-def-form *ngIf="isGenericSpecified(selectedEntity.entity, genName)"
                                 [(typeDef)]="getGenerics(selectedEntity.entity)[genName]"
                                 (typeDefChange)="refresh()"></app-type-def-form>
              <button *ngIf="!isGenericSpecified(selectedEntity.entity, genName)"
                      (click)="addGeneric(selectedEntity.entity, genName)">Specify
              </button>
            </div>
            <h5>Properties ({{ getPropertyDefs(selectedEntity.entity).length }})</h5>
            <div *ngFor="let prop of getPropertyDefs(selectedEntity.entity)">{{ prop.name }}
              <app-type-value-form *ngIf="isPropertySpecified(selectedEntity.entity, prop)"
                                   [typeDef]="prop.def"
                                   [(typeValue)]="getProperties(selectedEntity.entity)[prop.name]"
                                   (typeValueChange)="refresh(true)"></app-type-value-form>
              <button *ngIf="!isPropertySpecified(selectedEntity.entity, prop)"
                      (click)="addProperty(selectedEntity.entity, prop)">Specify
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
