<div>
  <h2>Operator "{{operatorName}}"</h2>
</div>

<div>
  <button (click)="save()">Save</button>
  <button (click)="showYAML = !showYAML">Toggle YAML</button>
  <button (click)="showInOutPorts = !showInOutPorts">Toggle In & Out ports</button>
</div>

<div *ngIf="showYAML">
  <div>
    <h3>YAML view</h3>
  </div>
  <div style="border: 1px dotted black; width: 1000px">
    <codemirror [ngModel]="yamlRepr"
                [config]="editorConfig"
                (ngModelChange)="updateYaml($event)"
                (blur)="storeYaml()">
    </codemirror>
  </div>
</div>

<div style="padding: 2px" *ngIf="showInOutPorts && mainSrvPort">
  <h4>
    IN
  </h4>
  <div style="display: inline-block">
    <app-type-def-form [(typeDef)]="mainSrvPort.in" (typeDefChange)="refresh()"></app-type-def-form>
  </div>
  <h4>
    OUT
  </h4>
  <div style="display: inline-block">
    <app-type-def-form [(typeDef)]="mainSrvPort.out" (typeDefChange)="refresh()"></app-type-def-form>
  </div>
</div>

<div>
  <ul>
    <li *ngFor="let port of getPorts()">{{port.getName()}} ({{ port.getAbsX() }},{{port.getAbsY()}})</li>
  </ul>
</div>

<div>
  <div>
    <h3>Visual view</h3>
  </div>
  <div>

    <div
      style="width: 1000px; height: 800px; overflow: scroll; display: inline-block; border: 1px dotted black; background-color: grey">
      <svg [attr.width]="2000*scale" [attr.height]="2000*scale" style="background-color: white"
           viewBox="0 0 2000 2000"
           xmlns:svg="http://www.w3.org/2000/svg"
           (mousedown)="startDrag($event)"
           (mouseup)="stopDrag($event)"
           (mousemove)="drag($event)">

        <svg:g *ngIf="operator" [attr.transform]="transform(operator)">

          <!-- Surrounding operator -->
          <svg:rect x="0" y="0" [attr.width]="operator.getWidth()" [attr.height]="operator.getHeight()"
                    fill="transparent" stroke-width="3" stroke-dasharray="3 3"
                    [attr.stroke]="operator === selectedEntity.entity ? '#f0f' : 'orange'"
                    (mousedown)="selectInstance(operator)"></svg:rect>

          <!-- Delegates -->
          <svg:g *ngFor="let dlg of operator.getDelegates()" [attr.transform]="transform(dlg)">
            <svg:g [attr.transform]="transform(dlg.getIn())" app-port [port]="dlg.getIn()" (select)="selectPort($event)"
                   [selectedEntity]="selectedEntity"></svg:g>
            <svg:g [attr.transform]="transform(dlg.getOut())" app-port [port]="dlg.getOut()"
                   (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
          </svg:g>

          <!-- Services -->
          <svg:g>
            <svg:g [attr.transform]="transform(operator.getMainIn())" app-port [port]="operator.getMainIn()"
                   (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
            <svg:g [attr.transform]="transform(operator.getMainOut())" app-port [port]="operator.getMainOut()"
                   (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
          </svg:g>

          <!-- Instances -->
          <svg:g *ngFor="let ins of visualInstances()" [attr.transform]="transform(ins)">
            <svg:rect x="0" y="0" [attr.width]="ins.getWidth()" [attr.height]="ins.getHeight()" fill="orange"
                      [attr.stroke]="ins === selectedEntity.entity ? '#f0f' : ''" stroke-width="3"
                      (mousedown)="selectInstance(ins)"></svg:rect>
            <svg:text text-anchor="middle" x="65" y="75" fill="white" font-family="Arial" font-size="16"
                      style="pointer-events: none">{{ins.getName()}}
            </svg:text>
            <svg:g *ngFor="let dlg of ins.getDelegates()" [attr.transform]="transform(dlg)">
              <svg:g [attr.transform]="transform(dlg.getIn())" app-port [port]="dlg.getIn()"
                     (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
              <svg:g [attr.transform]="transform(dlg.getOut())" app-port [port]="dlg.getOut()"
                     (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
            </svg:g>
            <svg:g [attr.transform]="transform(ins.getMainIn())" app-port [port]="ins.getMainIn()"
                   (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
            <svg:g [attr.transform]="transform(ins.getMainOut())" app-port [port]="ins.getMainOut()"
                   (select)="selectPort($event)" [selectedEntity]="selectedEntity"></svg:g>
          </svg:g>

        </svg:g>

        <!-- Connections -->
        <svg:line *ngFor="let conn of visualConnections()"
                  stroke-width="2px"
                  (click)="selectConnection(conn)"
                  [attr.stroke]="conn === selectedEntity.entity ? '#f0f' : 'black'"
                  [attr.x1]="conn.getSource().getPortPosX()"
                  [attr.y1]="conn.getSource().getPortPosY()"
                  [attr.x2]="conn.getDestination().getPortPosX()"
                  [attr.y2]="conn.getDestination().getPortPosY()"></svg:line>

        <!-- Text/Labels -->
        <svg:g *ngFor="let port of getPorts()" (click)="selectPort(port)" [attr.transform]="translate(port)">
          <svg:text text-anchor="end" alignment-baseline="middle"
                    font-family="Arial" stroke-width="10" font-size="16"
                    transform="rotate(-55 10,20)" x="10" y="20"
                    [attr.fill]="(selectedEntity.entity === port) ? '#f0f' : 'blue'">
            {{port.getName()}}
          </svg:text>
        </svg:g>
      </svg>
    </div>

    <div
      style="border: 1px dotted black; display: inline-block; height: 780px; overflow: scroll; margin-left: 20px; padding: 10px">
      <div>
        <label for="opSearch" style="font-size: 10px">Search operators</label><br>
        <input id="opSearch" [(ngModel)]="filterString">
        <h3>Local operators</h3>
        <ul>
          <li *ngFor="let op of getLocals(filterString)">{{ op.getName() }}
            <button (click)="addInstance(op)">+</button>
          </li>
        </ul>
        <h3>Elementary operators</h3>
        <ul>
          <li *ngFor="let op of getElementaries(filterString)">{{ op.getName() }}
            <button (click)="addInstance(op)">+</button>
          </li>
        </ul>
        <h3>Library operators</h3>
        <ul>
          <li *ngFor="let op of getLibraries(filterString)">{{ op.getName() }}
            <button (click)="addInstance(op)">+</button>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div *ngIf="isInstanceSelected()">
  <h3>Instance: {{ getSelectedEntityName() }}</h3>
  <h4>Generics ({{ genericNames(selectedEntity.entity).length }})</h4>
  <div *ngFor="let genName of genericNames(selectedEntity.entity)">{{ genName }}
    <app-type-def-form *ngIf="isGenericSpecified(selectedEntity.entity, genName)"
                       [(typeDef)]="getGenerics(selectedEntity.entity)[genName]"
                       (typeDefChange)="refresh()"></app-type-def-form>
    <button *ngIf="!isGenericSpecified(selectedEntity.entity, genName)"
            (click)="addGeneric(selectedEntity.entity, genName)">Specify
    </button>
  </div>
  <h4>Properties ({{ getPropertyDefs(selectedEntity.entity).length }})</h4>
  <div *ngFor="let prop of getPropertyDefs(selectedEntity.entity)">{{ prop.name }}
    <app-type-value-form *ngIf="isPropertySpecified(selectedEntity.entity, prop)"
                         [typeDef]="prop.def"
                         [(typeValue)]="getProperties(selectedEntity.entity)[prop.name]"
                         (typeValueChange)="refresh(true)"></app-type-value-form>
    <button *ngIf="!isPropertySpecified(selectedEntity.entity, prop)"
            (click)="addProperty(selectedEntity.entity, prop)">Specify
    </button>
  </div>
</div>

<div>
  Status: {{status}}
</div>
