@import "../../styles/variables.scss";

svg {
  background-color: $body-color;
  width: 100%;
  height: 100%;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text::selection {
  background: none;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  .sl-operator-name {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.6em;
  }
}

#sl-visual-ui {
  display: inline-block;
  width: 100vw;
  height: 90vh;
}

.sl-operator-list {
  ul {
    overflow-y: visible;
  }
}

.sl-ui-sidebar {
  height: calc(100vh - 36px);
  .sl-ui-scrollable {
    overflow-y: scroll;
  }
}

#sl-operator-sidebar {
  .sl-ui-scrollable {
    height: calc(100% - 100px);
    width: 100%;
    overflow: scroll;
  }
}

#sl-instance-sidebar {
  .sl-ui-scrollable {
    height: 50%;
  }
}


