<svg:g xmlns:svg="http://www.w3.org/2000/svg">
  <!-- Primitive -->
  <svg:g *ngIf="(port.isPrimitive() || port.isGeneric())">
    <path (click)="select.emit(port)" *ngIf="port.isIn()"
          class="sl-svg-port"
          [ngClass]="getCSSClass()"
          paint-order="stroke fill"
          d="M 0 0 L 20 0 L 10 15 z"></path>
    <!-- d="M left-x left-y L right-x right-y L bottom-x bottom-y z" -->
    <path (click)="select.emit(port)" *ngIf="port.isOut()"
          class="sl-svg-port"
          [ngClass]="getCSSClass()"
          paint-order="stroke fill"
          d="M 0 15 L 20 15 L 10 0 z"></path>
  </svg:g>
  <!-- Stream -->
  <svg:rect *ngIf="port.isStream()" fill="white" stroke-width="2" fill="transparent"
            paint-order="stroke fill"
            [ngClass]="getCSSClass()"
            [attr.width]="port.getWidth()" [attr.height]="port.getHeight()"/>
  <svg:g *ngIf="port.isStream()" [attr.transform]="transform(port.getStream())" app-port [port]="port.getStream()"
         (select)="select.emit($event)" [selectedEntity]="selectedEntity"></svg:g>
  <!-- Map -->
  <svg:g *ngIf="port.isMap()">
    <svg:g *ngFor="let entry of getEntries()" [attr.transform]="transform(entry)" app-port [port]="entry"
           (select)="select.emit($event)" [selectedEntity]="selectedEntity"></svg:g>
  </svg:g>
</svg:g>
