@import "../../styles/variables.scss";

.preview {
  margin-left: 5px;
}

.value {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  color: white;
}

.string {
  background-color: #984ea3;
}

.number {
  background-color: #377eb8;
}

.boolean {
  background-color: #1b9e77;
}

.binary {
  background-color: #FBEB56;
}

.primitive {
  background-color: #5bcbca;
}

.trigger {
  background-color: #767675;
}
