<div class="response">
  <div *ngIf="isPrimitive(object)" class="value">
    {{object}}
  </div>

  <div *ngIf="isImage(object)">
    {{object.name}}
    <img [src]="imageSrc(object.image)" />
  </div>

  <div *ngIf="isStream(object)">
    <div *ngFor="let item of object">
      <app-response-object [object]="item"></app-response-object>
    </div>
  </div>

  <div *ngIf="isMap(object)">
    <div *ngFor="let item of object | keyvalue">
      &bull; {{item.key}}
      <app-response-object [object]="item.value"></app-response-object>
    </div>
  </div>
</div>
