<div style="border: 2px solid; padding: 2px;">
  <div style="display: inline-block">
    <select [ngModel]="port.type" (ngModelChange)="setType($event)">
      <option *ngFor="let portType of portTypes" [value]="portType">
        {{portType}}
      </option>
    </select>
  </div>
  <div style="display: inline-block">
    <app-type-def-form [port]="port.map" *ngIf="isMap()"></app-type-def-form>
    <app-type-def-form [port]="port.stream" *ngIf="isStream()"></app-type-def-form>
    <input [(ngModel)]="port.generic" *ngIf="isGeneric()"/>
  </div>
</div>
